.slide-container {
    width: 100%; 
    margin: 0 auto;
}

.slide-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

@media (max-width: 600px) {
    .slide-item {
        height: 50vh;
    }
  }