.active{
    background-color: var(--cafeish);
    color: var(--verdecito);
}
nav {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 999;
    transition: .5s;
}
.navbar-active{
    background-color: var(--rosita);
}
.logo-container{
    width: auto;
    height: 100%;
    padding-left: 30px;
}
nav img{
    width: auto;
    height: 100%;
    max-height: 15vh;
}
nav ul {
    display: flex;
}
nav li{
    list-style: none;
    padding-right: 30px;
}
nav li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    margin: 0 auto;
    font-size: 1.5em;
    font-family: 'ButlerLight';
    border-radius: 5px;
    font-weight: 200;
    cursor: pointer;
}
nav li a:not(.active):hover{
    background-color: var(--cafeish);
}
nav .menu{
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 2.5rem;
    height: 2rem; 
    cursor: pointer;
}
nav .menu span{
    height: 0.4rem;
    width: 100%;
    background-color: white;
    border-radius: 0.2rem;
}
@media (max-width: 1000px) {

    nav .menu{
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: start;
        width: 100%;
    }

    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open{
        display: flex;
    }

    nav ul li{
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;
        border-top: 2px solid white;
    }

    nav ul li a{
        margin: 0.2rem 0.5rem;
        padding: 5px;
    }
}