@font-face {
    font-family: 'ButlerLight'; 
    src: url('/francesca//public/Fonts/Butler_Light.otf') format('opentype');
  }
*{
    --rosita: #b1958e;
    --verdecito: #717b74;
    --cafeish: #d4c9b7;
    --beige: #efecea;
    --blanquito: #d0cfce;
  }
.active{
    background-color: var(--cafeish);
    color: var(--verdecito);
}
nav {
    display: flex;
    align-items: center;
    position: sticky;
    width: 100%;
    height: 15vh;
    justify-content: space-around;
    background-color: var(--rosita);
    top: 0;
    left: 0;
}
nav img{
    width: 280px;
    height: 150px;
}
nav ul {
    display: flex;
}
nav li{
    list-style: none;
}
nav li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    margin: 0 auto;
    font-size: 1.8rem;
    font-family: 'ButlerLight';
    border-radius: 8px;
    font-weight: 200;
}
nav li a:not(.active):hover{
    background-color: var(--cafeish);
}